<section class="section section_work">
    <div class="container">
        <h2>ЭТАПЫ РАБОТЫ</h2>
        <div class="work">
            <div class="box">
                <picture>
                    <img src="img/ic_1.png">
                </picture>
                <p>
                    Оставьте заявку на сайте или позвоните нам
                </p>
            </div>
            <div class="box">
                <picture>
                    <img src="img/ic_2.png">
                </picture>
                <p>
                    Рассчитаем стоимость материалов
                </p>
            </div>
            <div class="box">
                <picture>
                    <img src="img/ic_3.png">
                </picture>
                <p>
                    Мы доставляем материалы до объекта точно в срок
                </p>
            </div>
        </div>
    </div>
</section>