<section class="section section_info">
    <div class="container">
        <div class="product_box">
            <div class="box">
                <div class="img">
                    <picture>
                        <img src="img/card_1.png">
                    </picture>
                    <a href="#" class="btn"><span></span><strong>ЗАКАЗАТЬ</strong></a>
                </div>
                <div class="number-update">
                    <h3>Малиновый дракон</h3>
                    <div class="calculated">
                        <div class="row">
                            <span class="number-actual number-prev"></span>
                            <p>см</p>
                            <span class="number-actual number-next"></span>
                        </div>
                        <p>от<span class="valueNumber">2.5<strong>см</strong></span></p>
                    </div>
                    <div class="sum">
                        <p>
                            <strong>9000₽</strong>
                            1м3
                        </p>
                    </div>
                </div>

            </div>
            <div class="box">
                <div class="img">
                    <picture>
                        <img src="img/card_1.png">
                    </picture>
                    <a href="#" class="btn"><span></span><strong>ЗАКАЗАТЬ</strong></a>
                </div>
                <div class="number-update">
                    <h3>Малиновый дракон</h3>
                    <div class="calculated">
                        <div class="row">
                            <span class="number-actual number-prev"></span>
                            <p>см</p>
                            <span class="number-actual number-next"></span>
                        </div>
                        <p>от<span class="valueNumber">2.5<strong>см</strong></span></p>
                    </div>
                    <div class="sum">
                        <p>
                            <strong>9000₽</strong>
                            1м3
                        </p>
                    </div>
                </div>

            </div>
            <div class="box">
                <div class="img">
                    <picture>
                        <img src="img/card_1.png">
                    </picture>
                    <a href="#" class="btn"><span></span><strong>ЗАКАЗАТЬ</strong></a>
                </div>
                <div class="number-update">
                    <h3>Малиновый дракон</h3>
                    <div class="calculated">
                        <div class="row">
                            <span class="number-actual number-prev"></span>
                            <p>см</p>
                            <span class="number-actual number-next"></span>
                        </div>
                        <p>от<span class="valueNumber">2.5<strong>см</strong></span></p>
                    </div>
                    <div class="sum">
                        <p>
                            <strong>9000₽</strong>
                            1м3
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <ul class="list">
            <li>
                Данный строительный и облицовочный материал очень прост в укладке и уходе, и не требует дополнительных затрат
            </li>
            <li>
                Камень недаром считается залогом прочности, ведь неприхотливый материал действительно служит десятилетиями, не боясь жары, мороза и даже огня.
            </li>
            <li>
                Строительные свойства характеризуют степень пригодности материала для условий эксплуатации.
            </li>
        </ul>
    </div>
</section>